<html>

<head>
    <link rel="shortcut icon" href="https://img.icons8.com/nolan/64/000000/controller.png" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600|Saira+Semi+Condensed&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <title>Tetris</title>
    <link href="./static/css/main.245c79a3.chunk.css" rel="stylesheet">
</head>

<body>
    <div class="main-container">
        <div>

            <nav>
                <div class="navbar">
                    <div class="navbarTitle">
                        <h2>TETRIS</h2>
                    </div>
                    <div class="navbarButtons">
                        <button onclick="window.location.href='/'">Home</button>
                        <button onclick="window.location.href='/about'">About</button>
                        <button onclick="window.location.href='/login'">Login</button>
                        <button class="signUpBtn" onclick="window.location.href='/register'">Sign up</button>
                    </div>
                </div>

            </nav>
        </div>
        <div class="homepageBody">
            <div class="aboutTextContainer">
                <div class="aboutTextWrapper">
                    <div class="aboutTextTitle">Instructions</div>
                </div>
                <div class="aboutTextWrapper">
                    <div>
                        - Before a game you can ajdust the difficulty in settings menu. Normal and Easy modes are
                        available in both Multiplayer and Singleplayer.
                        In Multiplayer the difficulty will be determined based on the player who starts the game.
                    </div>
                    <div>- In Singleplayer the start button is already available and you can start a game right away.
                    </div>
                    <div>- In Singleplayer the speed of the game is based on your current score.</div>
                    <div>- In Multiplayer the speed of the game is based on the player with the highest score.</div>
                    <div>- In Multiplayer you can either start your own game by inviting available players from the list
                        of players or wait to be invited by another player.</div>
                    <div>- In Multiplayer the person who invited others starts the game.</div>
                    <div>- While in Multiplayer lobby you can chat with other players.</div>
                    <div>- If you wish to leave a game before it starts just go to Menu and your status will reset.
                    </div>
                    <div>- In Spectate mode just select the name of the game you would like to watch, and you can reset
                        by clicking the Menu button.</div>
                    <div>- High scores are available for both Easy and Normal mode.</div>
                    <div>- You can show/hide the background animation in settings menu. </div>
                </div>
                <div class="aboutTextWrapper">
                    <div class="aboutTextTitle">Commands</div>
                </div>
                <div class="aboutTextWrapper">
                    <div class="aboutTextLine">- Left Arrow - moves current shape one square to the left.</div>
                    <div class="aboutTextLine">- Right Arrow - moves current shape one square to the right.</div>
                    <div class="aboutTextLine">- Up arrow - rotates current shape.</div>
                    <div class="aboutTextLine">- Down Arrow - accelerates current shape's speed.</div>
                    <div class="aboutTextLine">- Space key - drops the shape to lowest point available.</div>
                </div>
                <div class="aboutTextWrapper">
                    <div class="aboutTextTitle">Points and Scoring</div>
                </div>
                <div class="aboutTextWrapper">
                    <div class="aboutTextLine">Points are given:</div>
                    <div class="aboutTextLine">- Each time a shape placed</div>
                    <div class="aboutTextLine">- Each time a row is complete, more points are available if multiple rows
                        are completed at the same
                        time</div>
                    <div class="aboutTextLine">- Each time a shape is dropped, more points are available based on the
                        height from which the shape
                        was dropped</div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>