<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600|Saira+Semi+Condensed&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <title>Login</title>
    <link href="./static/css/main.c38b3b51.chunk.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://img.icons8.com/nolan/64/000000/controller.png" />

</head>

<body>
    <div class="main-container">
        <div>
            <div>
                <div class="loginForm">
                    <div class="loginFormTitle">Login</div>
                    <form method='post' action='/login'>
                        <div class="error"><% include ./partials/messages %></div>
                        <div class="loginFormText">Username:</div><input type="text" id="nickname" name="name"
                            maxlength="16" placeholder="username" autocomplete="off" value="" required>
                        <div class="loginFormText">Password:</div><input type="password" name="password" id="password"
                            maxlength="16" placeholder="password" required>
                        <input type="submit" value="Login">
                    </form>
                    <div><button onclick="window.location.href='/'">Back</button><button
                            onclick="window.location.href='/register'">Register</button></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>