<html>

<head>
    <link rel="shortcut icon" href="https://img.icons8.com/nolan/64/000000/controller.png" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600|Saira+Semi+Condensed&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <title>Tetris</title>
    <link href="./static/css/main.245c79a3.chunk.css" rel="stylesheet">
</head>

<body>
    <div class="main-container">
        <div>

            <nav>
                <div class="navbar">
                    <div class="navbarTitle">
                        <h2>TETRIS</h2>
                    </div>
                    <div class="navbarButtons">
                        <button onclick="window.location.href='/'">Home</button>
                        <button onclick="window.location.href='/'">About</button>
                        <button onclick="window.location.href='/login'">Login</button>
                        <button class="signUpBtn" onclick="window.location.href='/register'">Sign up</button>
                    </div>
                </div>

            </nav>
        </div>
        <div class="homepageBody">
            <div class="title" id="title">TETRIS</div>
            <div class="homepageTextContainer">
                <h2>Singleplayer:</h2>
                <p>No people, no queues, no waiting, just the plain version of the game Tetris ready to be played. The difficulty can be adjusted in settings with Normal and Easy modes available.</p>
                <h2>Multiplayer:</h2>
                <p>Designed for people who like a bit of competition. Invite your friends or other people to a game of Tetris. 
                    Be careful though, the game becomes faster based on the highest player score in your group.</p>
                <h2>Spectate:</h2>
                <p>Achieving the highest score is too stressful? Relax and watch other people play. Just select your desired game.</p>
            </div>
        </div>
    </div>
</body>

</html>