<html>

<head>
        <link rel="shortcut icon" href="https://img.icons8.com/nolan/64/000000/controller.png" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600|Saira+Semi+Condensed&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <title>Tetris</title>
    <link href="./static/css/main.245c79a3.chunk.css" rel="stylesheet">
</head>

<body>
    <div class="main-container">
        <div>
            <div>
                <nav>
                <div class="register"><button onclick= "window.location.href='/login'">Login</button><button onclick= "window.location.href='/register'">Register</button></div>
                </nav>
                <div class="title" id="title" style="left: 0%; width: 100%; color: rgb(89, 89, 89);">TETRIS</div>
            </div>
        </div>
    </div>
</body>

</html>