<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600|Saira+Semi+Condensed&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <title>Registration</title>
    <link href="./static/css/main.245c79a3.chunk.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://img.icons8.com/nolan/64/000000/controller.png" />

    <head>

    <body>
        <div class="main-container">
            <nav>
                <div class="navbar">
                    <div class="navbarTitle">
                        <h2>TETRIS</h2>
                    </div>
                    <div class="navbarButtons">
                        <button onclick="window.location.href='/'">Home</button>
                        <button onclick="window.location.href='/'">About</button>
                        <button onclick="window.location.href='/login'">Login</button>
                        <button class="signUpBtn" onclick="window.location.href='/register'">Sign up</button>
                    </div>
                </div>

            </nav>
            <div>
                <div>
                    <div class="loginForm">
                        <div class="loginFormTitle">Sign up</div>
                        <form method='post' action='/register'>
                            <div class="error"><% include ./partials/messages %></div>
                            <div class="loginFormText">Username:</div><input type="text" id="nickname" name="name"
                                maxlength="16" placeholder="username..." autocomplete="off" value="" required>
                            <div class="loginFormText">Password:</div><input type="password" name="password"
                                id="password" maxlength="16" placeholder="password..." required>
                            <input type="submit" value="Submit">
                        </form>
                        <div style="font-size: 16px">
                            Already have an account? <a href='/login'>Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>