.roundBtn {
    position: absolute;
    width: 140px;
    height: 140px;
    top: 90px;
    border-radius: 70px;
    left: 360px;
    margin-left: -70px;
    background-color: #004256;
    color: rgba(245, 245, 245, 0.911);
    font-size: 22px;
    border: 5px solid #fff
}

.roundBtn:hover {
    box-shadow: 0 0 20px #004256;
    color: #fff;
}

.tableLeft,
.tableRight {
    width: 360px;
    height: 120px;
    position: absolute;
    top: 100px
}

.tableRight {
    margin-left: 360px
}

.tdNarrow {
    width: 100px
}

.tdWide,
.tdWideSmall {
    width: 300px;
    padding: 0
}

.tdWideSmall {
    font-size: 17px
}

#leftAlign {
    text-align: left;
    padding-left: 10px;
    border-left: 1px solid
}

#rightAlign {
    text-align: right;
    border-right: 1px solid;
    padding-right: 10px
}

.roundDiv {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 90px;
    border-radius: 80px;
    left: 360px;
    margin-left: -70px;
    background-color: #004256;
    color: #f5f5f5;
    font-size: 22px;
    border: 5px solid #fff;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 0 20px #004256;
    color: #fff
}

.innerRound {
    width: 80px;
    margin-left: 25px;
    margin-top: 17px
}

.gameSetup {
    position: absolute;
    width: 720px;
    left: 692px;
    height: 300px;
    margin-top: 110px;
    background-color: #49a0aebe;
    border: none;
    border-radius: 3px;
    font-size: 22px;
    z-index: 100;
    color: whitesmoke;
    text-align: center;
}

.gameSetup p {
    background-color: #49a0ae;
}

.gameSetup table {
    background-color: #49a0ae;
}

.sideTab {
    position: absolute;
    margin-left: 100px
}

.sideTab p {
    margin: 0
}

.sideBtn {
    width: 95%;
    margin: 5px;
    padding-left: 10px
}

.sideBtn button {
    display: flex;
    align-self: baseline;
    justify-content: center;
    margin-top: 5px;
    height: 30px;
    width: 60px;
    font-size: 18px;
    margin-right: 5px;
    float: right;
    background-color: #004256;
    border: none;
    color: #f5f5f5
}

.sideBtn button:hover:enabled {
    background-color: #007da3;
    color: #fff;
}
.sideBtn button:disabled {
    background-color: #49a0ae !important;
}

.sideBtnSmall {
    width: 95%;
    margin: 5px;
    padding-left: 10px;
    background-color: #49a0ae;
    padding-top: 3px;
}

.sideBtnSmall button {
    display: flex;
    align-self: baseline;
    justify-content: center;
    margin-top: 5px;
    height: 30px;
    width: 60px;
    font-size: 18px;
    margin-right: 5px;
    float: right;
    background-color: #004256;
    border: none;
    color: #f5f5f5
}

.sideBtnSmall button:hover {
    background-color: #007da3;
    color: #fff
}

.sideBtnSmall button:disabled {
    background-color: #49a0ae !important;
}

.chatContainer {
    padding: 5px;
    display: flex;
    position: absolute;
    width: 710px;
    left: 692px;
    height: 300px;
    margin-top: 420px;
    background-color: #49a0aeee;
    border: none;
    border-radius: 3px;
    font-size: 22px;
    z-index: 100;
    flex-direction: column;
    justify-content: flex-end;
}

.txt-area {
    background-color: transparent;
    color: whitesmoke;
    overflow-y: auto;
    box-sizing: border-box;
}

.chatInputs {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%
}

.chatInputs input {
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    width: 620px;
    height: 30px;
    border: 1px solid whitesmoke;
    background-color: #004256e5;
    color: whitesmoke;
}

.chatInputs input::placeholder{
    color: rgba(245, 245, 245, 0.911)
}

.chatInputs button {
    background-color: #004256;
    font-size: 14px;
    height: 33px;
    width: 69px;
    border: none;
    color: whitesmoke;
}

.chatInputs button:hover {
    background-color: #007da3;
}

.msgContainer {
    display: flex;
    align-items: center;
    padding-left: 10px;
    flex-wrap: wrap;
}
.msgText {
    word-break: break-word;
}
.msgUsername {
    font-weight: 700;
    padding-right: 7px;
}

@media screen and (max-width:1400px) {

    .chatContainer,
    .gameSetup {
        left: 0;
        margin-left: 510px
    }
}

@media screen and (max-width:440px) {

    .chatContainer,
    .gameSetup {
        position: absolute;
        margin-left: 0;
        top: 0
    }

    .sideTab {
        position: absolute;
        top: 520px;
        left: -100px
    }
}

.menuButtons {
    height: 530px;
    width: 600px;
    background-color: hsla(0, 0%, 100%, .904);
    border-radius: 3px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px #fff;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.menuButtons button,
.menuButtons p {
    height: 70px;
    width: 96%;
    border-radius: 3px;
    border: none;
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
}

.menuButtons p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    background-color: #49a0ae;
    color: whitesmoke;
    height: 90px;
    margin-bottom: 15px;
    margin-top: 13px;
}

.menuButtons button {
    font-size: 25px;
    background-color: #004256;
    color: #eee;
    -webkit-transition: .2s;
    transition: .2s
}

.menuButtons button:hover {
    box-shadow: 0 0 25px rgba(0, 66, 86, .9);
    color: #fff;
    font-size: 27px
}

.title2 {
    font-size: 140px;
    color: #fff;
    font-weight: 900;
    text-shadow: 0 0 15px #fff;
    font-family: Righteous, cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px;
}

.leftMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center
}

@media screen and (max-width:1200px) {
    .leftMenu {
        width: 400px
    }
    .title2 {
        width: 400px;
        font-size: 100px;
    }
    .menuButtons {
        width: 400px
    }

    .menuWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        justify-content: center;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:768px) {
    .menuWrapper {
        position: absolute
    }

    .transparent {
        display: none
    }
}

.request {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 100px;
    left: 50%;
    margin-left: -100px;
    top: 100px;
    border: 2px solid #fff;
    border-radius: 3px;
    font-size: 14px;
    z-index: 10000;
    background-color: #004256e7;
    padding: 0;
    color: whitesmoke;
}

.request button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #49a0ae;
    border-radius: 3px;
    height: 25px;
    width: 70px;
    margin: 2px;
    color: rgba(245, 245, 245, 0.836);
}

.request button:hover {
    box-shadow: 0 1px 10px #49a0ae;
    color: white;
}

.request p {
    margin: 0;
}

.request div {
    display: flex;
    justify-content: center;
    align-content: center
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding-top: 20px;
    top: 40%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin: -150px 0 0 -200px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #404040e0;
    box-shadow: 0 0 20px rgb(105, 105, 105);
    color: whitesmoke;
}

.loginForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px
}

.loginForm input {
    margin: 5px;
    background-color: rgba(114, 114, 114, 0.979);
    border: 1px solid #fff;
    width: 300px;
    height: 35px;
    font-size: 15px;
    text-align: center;
    color: whitesmoke;
}

.loginForm input[type=submit] {
    margin-top: 30px;
    margin-bottom: 20px;
    border: none;
    background-color: rgb(73, 160, 174);
    width: 300px;
    height: 38px;
    font-size: 20px;
    text-align: center;
    color: #ebebeb;
    border-radius: 2px;
}

.loginForm input[type=submit]:hover {
    box-shadow: 0 0 15px rgb(73, 160, 174);
    color: #fff;
    font-size: 22px
}

.loginForm .loginFormTitle {
    font-size: 30px
}

.loginForm .loginFormText {
    font-size: 15px;
    text-align: left;
    margin-left: -220px
}

.loginForm a {
    color: rgb(73, 160, 174);
}
.loginForm a:hover {
    color: whitesmoke;
}

.userInfo {
    height: 70px;
    z-index: 3000;
    font-size: 30px;
    width: 100%;
    background-color: rgb(73, 160, 174);
    padding-left: 100px;
    position: fixed;
    left: 0;
    top: 0;
    margin-left: -100px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    color: whitesmoke;
}

.userInfo button {
    align-self: center;
    font-size: 20px;
    width: 120px;
    background-color: #d8a7a7;
    border: none;
    border-radius: 3px;
    float: right;
    margin-right: 10px;
    padding-top: 2px;
    box-shadow: 0 0 10px #d8a7a7
}

.userInfo form {
    align-self: center
}

.userInfo button:hover {
    color: #252525;
    font-size: 22px;
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer
}

.userInfo .usernameDisplay {
    width: 50%
}

.userInfo .buttonDisplay {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row
}

.userInfo .resetBtn {
    border: none;
    background: none;
    box-shadow: none
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center
}

.title {
    font-size: 140px;
    color: #fff;
    font-weight: 900;
    text-shadow: 0 0 15px #fff;
    font-family: Righteous, cursive;
    width: 470px;
    height: 200px;
}

@-webkit-keyframes menuBtnAnimation {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        opacity: 0
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes menuBtnAnimation {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        opacity: 0
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

.navbar {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: rgb(73, 160, 174);
    letter-spacing: 1px;
    font-family: 'Ubuntu', sans-serif;
}

.navbar button {
    color: whitesmoke;
    opacity: 0;
    height: 100%;
    font-size: 25px;
    background-color: initial;
    width: 120px;
    padding-top: 2px;
    margin-left: 10px;
    margin-right: 20px;
    border: none;
    letter-spacing: 1px;
    -webkit-animation: menuBtnAnimation .5s ease forwards;
    animation: menuBtnAnimation .5s ease forwards;
    -webkit-transition: .2s;
    transition: .2s;
    font-family: 'Ubuntu', sans-serif;
}

.navbar button:hover {
    color: white;
    text-shadow: 0 0 4Spx whitesmoke;
    font-size: 27px;
    padding-top: 0;
    cursor: pointer
}

.navbar form {
    display: flex;
    height: 70px;
    align-items: center;
}

.signUpBtn {
    font-family: 'Ubuntu', sans-serif;
    border: 2px solid whitesmoke !important;
    border-radius: 2px;
    height: 80% !important;
}

.navbarTitle{
    width: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.navbarTitle h2 {
    font-family: Righteous, cursive;
}
.navbarButtons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbarButtonsMenu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 300px;
}

.mainLink {
    margin-right: 20px;
    display: inline-block;
    height: 55px;
    font-size: 25px;
    padding-top: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: #000;
    margin-left: 6px;
    font-weight: 600;
    opacity: 0;
    -webkit-animation: menuBtnAnimation .5s ease forwards;
    animation: menuBtnAnimation .5s ease forwards;
    -webkit-transition: .2s;
    transition: .2s
}

.mainCanvasWrapper {
    margin: 0 !important;
    display: flex;
}

@media screen and (max-width:440px) {
    .mainLink {
        font-size: 15px;
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 5px
    }

    .navbar {
        width: 100vw
    }

    .navbar button {
        font-size: 15px;
        width: 70px;
        margin-left: 0;
        margin-right: 5px
    }

    .main {
        flex-direction: column
    }
}

body {
    background-color: rgb(46, 46, 46);
    background-image: url(../../static/media/computer-3163437.fb2d0a2c.png);
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-position: 50%;
    background-attachment: fixed;
    font-family: Saira Semi Condensed, sans-serif
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

button,
code {
    font-family: Saira Semi Condensed, sans-serif
}

canvas {
    width: 400px;
    height: 800px;
    background-color: grey;
    position: relative;
    border: 1px solid #000
}

button {
    font-weight: 600
}

.canvasBlock {
    margin: 0 !important;
    float: left
}

@media screen and (max-width:950px) {
    .main {
        flex-direction: column
    }
    .navbarButtonsMenu {
        margin-left: 100px;
    }
}


.buttonsBlock {
    position: absolute;
    z-index: 3000;
    margin-top: 190px;
    margin-left: 233px;
}

@media screen and (max-height:900px) {
    .buttonsBlock{
        margin-left: 208px;
    }
}

@media screen and (max-height:800px) {
    .buttonsBlock{
        margin-left: 183px;
    }
}

@media screen and (max-height:700px) {
    .buttonsBlock{
        margin-left: 158px;
    }
}




.BackCanvas {
    position: relative;
    background: none;
    background-color: #606060;
    border: 3px solid #49a0ae;
}

.FrontCanvas {
    position: absolute;
    z-index: 2000;
    background: none;
    border: 3px solid #49a0ae;
}

.SideCanvas {
    float: center;
    height: 80px;
    width: 400px;
    border: 3px solid #49a0ae;
}

.sideBlock {
    margin-left: -2px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    flex-direction: column;
}

.main {
    position: absolute;
    left: 0;
    
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 0;
    margin-left: 50px;
    padding-left: 20px
}

.main div {
    margin: 10px
}

.mainWrapper {
    width: 100%
}

.startBtn {
    border: 4px solid #49a0ae;
    background-color: #49a0ae;
    font-size: 22px;
    width: 120px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
}
.startBtn:hover {
    font-size: 24px;
    text-shadow: 0 0 5px whitesmoke;
    letter-spacing: 2px;
}

.score {
    width: 200px;
    height: 110px;
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    border: 3px solid #49a0ae;
    background-color:#49a0ae;
    border-radius: 3px;
}

.popupOpen {
    position: fixed;
    height: 100px;
    width: 200px;
    background-color: hsla(0, 0%, 100%, .877);
    margin-left: 200px;
    margin-top: 20px;
    border: 3px solid #ff544b;
    border-radius: 3px;
    z-index: 2000
}

.popupOpen button {
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 140px;
    background-color: #ff4b93;
    border: 2px solid #ff4b93
}

.popupClosed {
    display: none
}

.inviteBtn {
    width: 100%;
    border: 2px solid #9af3ff;
    font-size: 20px;
    background-color: #9af3ff
}

.inviteBtn:hover {
    border: 2px solid salmon
}

.container {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 3px solid #f5d48c;
    font-size: 22px;
    background-color: #f9ff8f;
    border-radius: 3px
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.checkmark {
    width: 120px;
    padding-left: 10px;
    padding-right: 10px
}

.container:hover input~.checkmark {
    background-color: #f5d48c
}

.container input:checked~.checkmark {
    border: 2px solid #000
}

.infoTable td {
    margin-left: 15px;
    height: 10px;
    color: whitesmoke;
}

.rightTD {
    background-color: orange;
    border-radius: 10px;
    width: 150px;
    font-size: 16px;
    padding-left: 5px;
    
}

.highscore {
    background-color: hsla(0, 0%, 100%, .918);
    width: 400px;
    text-align: center;
    z-index: 100;
    display: flex;
    flex-direction: column;
    height: 45%
}

.highscore td {
    width: 100px
}

.highscoreWrapper {
    left: 20%;
    top: 10%;
    width: 400px;
    margin-left: -200px;
    position: absolute
}

.winnerPopup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #004256d8;
    z-index: 10000;
    position: absolute;
    height: 120px;
    width: 200px;
    border: 3px solid #49a0ae;
    text-align: center;
    color: whitesmoke;
}

.winnerPopup button {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #49a0ae;
    color: whitesmoke;
    border: none;
}

.winnerPopup button:hover {
    color: white;
    text-shadow: 0 0 2px white;
}

.error {
    font-size: 15px;
    color: red;
    height: 25px
}

.transparent {
    opacity: .7;
    z-index: 0;
    margin-top: 20px;
    width: 50%
}

.transparentCanvasBackground {
    position: absolute;
    margin-top: 5px;
    left:550px;
}

.menuWrapper {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly
}

.sideTab {
    height: 85vh;
    width: 400px;
    margin-top: 25px;
    background-color: #004256aa;
    border: none;
    color: whitesmoke;
    z-index: 1000;
    overflow-y: scroll;
    text-align: center;
}

.sideBtn {
    font-size: 25px;
    color: whitesmoke;
    border-radius: 2px;
    background-color: #49a0ae
}

.sideBtn,
.sideBtnSmall {
    width: 360px;
    height: 40px;
    text-align: left;
    background-color: #49a0ae;
}

.sideBtnSmall {
    font-size: 20px;
    color: whitesmoke;
    border-radius: 2px;
    background-color: #49a0ae;
}

.controls {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #9af3ff;
    height: 100px
}

.homepageBody {
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; 
}

.homepageTextContainer {
    width: 500px;
    height: 600px;
    background-color: #404040e0;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
.homepageTextContainer h2 {
    margin-top: 0;
    color: #49a0ae
}
.homepageTextContainer p {
    padding: 0 30px 20px 30px;
    margin: 10px;
    text-align: center;
}

/*# sourceMappingURL=main.245c79a3.chunk.css.map */